.sidebar {
  display: flex;
  width: 229px;
  height: 56px;
}

.sidebar__username {
  font-family: "CabinetGrotesk", Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 16px 0 15px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  width: 157px;
  height: 25px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}
